# Build artifacts
/target
/build/*.r1cs
/build/*.wasm
/build/*.zkey
/build/*.vkey
/build/*.ptau
/build/*.wtns
/build/*.json

# Node
node_modules/

# Env
.env
*.env

# OS
.DS_Store
circuit/pot12_*.ptau
circuit/age_0000.zkey
circuit/age.r1cs
circuit/age.sym
circuit/age_js/
build/age.sym
circuit/pot12_*.ptau
